    <div class="col-md-3">
      <h2>User info</h2>
      <!--user_image-->
      <!--%= attachment_image_tag user, :profile_image_id, :fill, 100, 100, format: 'jpeg' %>-->
      <!--実際のカラムは profile_image_id だが id を外して指定。（refile仕様）-->
      <!--no_image.jpg がまだ反映されてない（ダウンロードできてない）-->
      <!--%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>-->
      <% users.each do |user| %>
      <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg' %>
      <table>
        <tbody>
      <!--name-->
          <tr>
            <th>name</th>
            <!--@user.name-->
            <th><%= user.name %></th>
          </tr>
      <!--introduction-->
          <tr>
            <th>introduction</th>
            <!--@user.introduction-->
            <th><%= user.introduction %></th>
          </tr>
        </tbody>
      </table>
      <!--editページにとぶ。-->
      <div class="row">
        <% if user.id == current_user.id %>
          <p><%= link_to "Edit", edit_user_path(user) %></p>
        <% end %>
        <!--%= link_to "Edit", edit_user_path(current_user) %>-->
      <% end %>
      </div>